@page
@model FullStackRecipeApp.Pages.Recipes.IndexModel


<h1 class="page-headers">Recept</h1>


@if (Model.AccessControl.IsLoggedIn())
{
    <div class="frontpage-section create-new-button">
        <a asp-page="Create">Skapa nytt recept</a>
    </div>
}


<form method="get">
    <div class="listing-options">
        <div>
            <select asp-for="SortingKey" asp-items="Html.GetEnumSelectList<SortingKey>()">
                <option value="" disabled selected>Välj sortering</option>
            </select>
        </div>
        <div>
            <select asp-for="FilterKey" asp-items="Html.GetEnumSelectList<FilterKey>()">
                <option value="" disabled selected>Välj filtrering</option>
            </select>
        </div>
        <div>
            <input type="text" asp-for="SearchTerm" placeholder="Sökord" />
            <button type="submit" class="search-button">Sök</button>
        </div>
    </div>

</form>
<table class="list-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipes[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipes[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipes[0].MealCategory)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in Model.Recipes)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@recipe.ID">@Html.DisplayFor(modelItem => recipe.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => recipe.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => recipe.MealCategory)
                </td>
            </tr>
        }
    </tbody>
</table>


