@page
@model FullStackRecipeApp.Pages.MealPlans.DetailsModel


<h1 class="page-headers">@Model.MealPlan.Name | Vecka @Model.MealPlan.WeekNumber</h1>

<div>
    <hr />
    @foreach (var day in Model.WeekDays)
    {

        <dl>
            <dt>
                @day
            </dt>
            @foreach (var meal in @Model.PlannedMeals.Where(m => m.WeekDay == day).ToList())
            {
                <dd>
                    <a asp-page="../Recipes/Details" asp-route-id="@meal.RecipeID">
                        @meal.Recipe.Name
                    </a>
                </dd>
            }
        </dl>
    }
</div>

<h2 class="page-headers">Inköpslista</h2>

@if (Model.ShoppingList != null)
{
<dl>

    @foreach (var item in Model.ShoppingList)
    {
        <dt>@item.Key</dt>
        foreach (var amount in item.Value)
        {
            <dd>
                @amount.Value @amount.Key
            </dd>
        }
    }
</dl>
}


@if (Model.AccessControl.IsLoggedIn() && Model.AccessControl.UserHasAccess(Model.MealPlan))
{
    <div class="bottom-buttons">
        <a asp-page="./Index">Tillbaka till planeringar</a>
        <a asp-page="./Edit" asp-route-id="@Model.MealPlan.ID">Redigera planering</a>
        <a asp-page="./Delete" asp-route-id="@Model.MealPlan.ID">Ta bort planering</a>
    </div>
}
else
{
    <div class="bottom-buttons">
        <a asp-page="./Index">Tillbaka till planeringar</a>
    </div>
}
