@page
@model FullStackRecipeApp.Pages.MealPlans.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (Model.IsLoggedIn)
{
    <p>
        <a asp-page="Create">Skapa ny planering</a>
    </p>
}


<form method="get">
    <table>
        <tbody>
            <tr>
                <th><label for="SortingKey">Sortera</label></th>
                <td>
                    <select asp-for="SortingKey" asp-items="Html.GetEnumSelectList<SortingKey>()">
                        <option value="" disabled selected>Välj sortering</option>
                    </select>
                </td>
                <th><label for="FilterKey">Filtrera efter kategori</label></th>
                <td>
                    <select asp-for="FilterKey" asp-items="Html.GetEnumSelectList<FilterKey>()">
                        <option value="" disabled selected>Välj filtrering</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit">Sök</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MealPlans[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealPlans[0].WeekNumber)
            </th>
            <th>
                Antal recept
            </th>
            <th>
                Användare
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plan in Model.MealPlans)
        {
        <tr>

            <td>
                <a asp-page="./Details" asp-route-id="@plan.ID">@plan.Name</a>
            </td>
            <td>
                @plan.WeekNumber
            </td>
            <td>
                @plan.Meals.Count()
            </td>
            <td>
                (användarnamn här)
            </td>
            @if (Model.IsLoggedIn)
            {
                <td>
                    <a asp-page="./Edit" asp-route-id="@plan.ID">Redigera</a> |
                    <a asp-page="./Delete" asp-route-id="@plan.ID">Ta bort</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
