@page
@model FullStackRecipeApp.Pages.Ingredients.DetailsModel


<h1 class="page-headers">Detaljer</h1>
<hr />

<div class="details-container">
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.FoodCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.FoodCategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.DietCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.DietCategory)
        </dd>
    </dl>
</div>

@if (Model.AccessControl.IsLoggedIn() && Model.AccessControl.UserHasAccess(Model.Ingredient))
{
<div class="bottom-buttons">
    <a asp-page="./Index">Tillbaka till ingredienser</a>
    <a asp-page="./Edit" asp-route-id="@Model.Ingredient.ID">Redigera ingrediens</a>
    <a asp-page="./Delete" asp-route-id="@Model.Ingredient.ID">Ta bort ingrediens</a>
</div>
}
else
{
    <div class="bottom-buttons">
        <a asp-page="./Index">Tillbaka till ingredienser</a>
    </div>
}
    
