@page
@model FullStackRecipeApp.Pages.Ingredients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detaljer</h1>
<hr />

<div>    
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.FoodCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.FoodCategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.DietCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.DietCategory)
        </dd>
    </dl>
</div>
<div>
    @if (Model.IsLoggedIn)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Ingredient.ID">Edit</a>
    }
    <a asp-page="./Index">Back to List</a>
</div>
