@page
@model FullStackRecipeApp.Pages.Recipes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="page-headers">@Model.Recipe.Name</h1>

<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.Description)
        </dd>
    </dl>

    <h2 class="page-headers">Vill du verkligen ta bort receptet?</h2>

    <form method="post" class="edit-form-container">
        <input type="hidden" asp-for="Recipe.ID" />
        <input type="submit" value="Ta bort receptet" />
    </form>

    <div class="bottom-buttons">
        <a asp-page="./Index">Tillbaka till recept</a>
    </div>
</div>
