@page
@model FullStackRecipeApp.Pages.Recipes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Recipe.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
