@page
@model FullStackRecipeApp.Pages.Recipes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Recipe.Name)</h1>

<h2>@Html.DisplayFor(model => model.Recipe.Description)</h2>

<div>
    <h2>Ingredienser</h2>
    <ul>
        @foreach (var quantity in Model.Quantities)
        {

            <li>
                @Html.DisplayFor(modelItem => quantity.Ingredient.Name)

                @Html.DisplayFor(modelItem => quantity.Amount)

                @Html.DisplayFor(modelItem => quantity.Measurement.Name)
            </li>
        }
    </ul>
</div>

<div>
    <h2>Instruktioner</h2>
    <h3>@Html.DisplayFor(modelItem => Model.Recipe.Instructions)</h3>
</div>

<div>
    @if (Model.AccessControl.IsLoggedIn() && Model.AccessControl.UserHasAccess(Model.Recipe))
    {
        <a asp-page="./Edit" asp-route-id="@Model.Recipe.ID">Redigera receptet</a>
    }
    <a asp-page="./Index">Back to Recipes</a>
</div>
