@page
@model FullStackRecipeApp.Pages.Recipes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="page-headers">Redigera recept</h1>

<hr />

<form method="post">

    <div class="edit-form-container">
        <input type="hidden" asp-for="Recipe.UserID" />
        <input type="hidden" asp-for="Recipe.ID" />

        <div asp-validation-summary="ModelOnly"></div>
        <label asp-for="Recipe.Name">Namn</label>
        <textarea asp-for="Recipe.Name"></textarea>

        <label asp-for="Recipe.Description">Beskrivning/noteringar: </label>
        <textarea asp-for="Recipe.Description"></textarea>

        <label asp-for="Recipe.Instructions">Instruktioner: </label>
        <textarea onkeyup="textAreaAdjust(this)" asp-for="Recipe.Instructions"></textarea>

        <label asp-for="Recipe.MealCategory">Kategori: </label>
        <select asp-for="Recipe.MealCategory" asp-items="Html.GetEnumSelectList<Models.MealCategory>()">
            <option value="" disabled selected>--Välj kategori--</option>
        </select>
        <label asp-for="Recipe.Difficulty">Svårighetsgrad</label>
        <select asp-for="Recipe.Difficulty">
            @for (int i = 1; i < 6; i++)
            {
                if (@Model.Recipe.Difficulty == i)
                {
                    <option value="@i" selected>@i</option>
                }
                else
                {
                    <option value="@i">@i</option>
                }

            }
        </select>
    </div>


    <hr />
    <h3 class="page-headers">Ny ingrediens</h3>

    <div class="ingredient-div">
        <select name="NewIngredientID" asp-items="Model.IngredientOptions">
            <option value="0" selected>--Ingrediens--</option>
        </select>
        <select name="NewMeasurementID" asp-items="Model.MeasurementOptions">
            <option value="0" selected>--Enhet--</option>
        </select>
        <input class="edit-input" name="NewAmountID" asp-for="Quantity.Amount" value="0" placeholder="Mata in mängd" />
        <input type="submit" name="new-ingredient" value="Lägg till" />
        <span asp-validation-for="Quantity"></span>
    </div>


    <hr />

    <h3 class="page-headers">Ingredienser</h3>

    @foreach (var recipeIngredient in Model.RecipeIngredients)
    {
<div class="ingredient-div">
    <select name="SelectedIngredientIDs" asp-items="Model.IngredientOptions">
        <option value="@recipeIngredient.Ingredient.ID" selected>@recipeIngredient.Ingredient.Name</option>
    </select>
    <select name="SelectedMeasurementIDs" asp-items="Model.MeasurementOptions">
        <option value="@recipeIngredient.Measurement.ID" selected>@recipeIngredient.Measurement.Name</option>
    </select>
    <input class="edit-input" name="SelectedAmounts" asp-for="Quantity.Amount" value="@recipeIngredient.Amount" />
    <input type="submit"  value="Ta bort" asp-page-handler="delete" asp-route-recipeID="@Model.Recipe.ID" asp-route-ingredientID="@recipeIngredient.IngredientID"/>
</div>
    }

    <div class="edit-form-container">
        <input type="submit" name="name" value="Spara receptet" />
        <div asp-validation-summary="All"></div>
    </div>
</form>










<div class="bottom-buttons">
    <a asp-page="./Index">Tillbaka till alla recept</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
