@page
@model FullStackRecipeApp.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Index";
}



@if (Model.AccessControl.IsLoggedIn())
{
    <div class="frontpage-section">
        <a asp-page="Create">Skapa nytt recept</a>
    </div>
}

<h1 class="page-headers">Recept</h1>


<form method="get">
    <table class="list-table">
        <tbody class="listing-options-body">
            <tr class="sorting-container-row">

                <th><label for="SortingKey">Sortera</label></th>
                <td>
                    <select asp-for="SortingKey" asp-items="Html.GetEnumSelectList<SortingKey>()">
                        <option value="" disabled selected>Välj sortering</option>
                    </select>
                </td>
                </tr>
                <tr class="filter-container">
                <th><label for="FilterKey">Filtrera efter kategori</label></th>
                <td>
                    <select asp-for="FilterKey" asp-items="Html.GetEnumSelectList<FilterKey>()">
                        <option value="" disabled selected>Välj filtrering</option>
                    </select>
                </td>
                </tr>
                <tr class="search-container">
                    <th><label>Sök på namn</label></th>
                    <td>
                        <input type="text" name="name" value="" />
                        <button type="submit">Sök</button>
                    </td>
                </tr>

        </tbody>
    </table>
</form>
<table class="list-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipes[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipes[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipes[0].MealCategory)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in Model.Recipes)
        {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-id="@recipe.ID">@Html.DisplayFor(modelItem => recipe.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => recipe.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => recipe.MealCategory)
            </td>
        </tr>
        }
    </tbody>
</table>
